<header>
    <h1 style="display : inline">Anime Fanbase</h1>
    <!-- <img id = "logo" src="images/logo.png"  alt="logo"> -->
</header>


  <!-- Welcome -->


  <!-- Side Navigation -->
  <div class="myNav">
    <a class="navlink" href="/" class="disabled">Home</a>
    <a class="navlink" href="/users">Users</a>
    <a class="navlink" href="/characters">Characters</a>
    <a class="navlink" href="/titles">Titles</a>
    <a class="navlink-active" href="/about">About</a>

    <a class="navlink login" href="/about">Log in</a>
    <a class="navlink login" href="/about">Sign up</a>


    <div class="search-container">
      <form action="">
        <input type="text" id="search" placeholder="search" name="search">
        <button type="submit">Submit</button>
      </form>
    </div>

  </div>