.new-charac-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-group-big{
    margin: 5%;
}
.new-charac-form fieldset {
    width: 40%;
    margin: 2%;
}

.new-charac-form label {
    margin: 0%;
    text-align: left;
}
.new-charac-form input[type=file], 
.new-charac-form input[type=text] {
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    display: block;
}

.new-charac-form input[type=number] {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    display: block;
}

.new-charac-form input[type=text]:focus,
.new-charac-form input[type=number]:focus {
    border: 2px solid rgb(245, 135, 135);
}

.new-charac-form input[type=submit] {
    margin-top: 10%;
    margin-left: 5%;

    background-color: rgb(62, 65, 62);
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}