<!doctype html>
<html lang="en">

{{> head }}

<body>

  {{> header }}
  <!-- Main part -->

  <main>

    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>
    <p>Some About Here!</p>



  </main>

  <!-- footer -->

  {{>footer}}
</body>

</html>