<!doctype html>
<html lang="en">

{{> head}}

<body>
  <!-- logo top -->
  {{> header}}



  <!-- Main part -->

  <main>

    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>
    <p>This is my first web-page!</p>

  </main>

  <!-- footer -->

  {{> footer}}
</body>

</html>