<!doctype html>
<html lang="en">

{{> head}}
{{! <div class="modal" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="float:left; text-align:left; ">Actions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div>
            {{! <form action = "/admin/deleteTitle" method = "POST">
                <input type="submit" name="deleteChar" class="btn btn-danger"value="Delete Char">
            </form> 
            <form action = "/admin/title/addCharac" method = "POST">
                <input type="submit" name="deleteChar" class="btn btn-info" value="Add Charac">
            </form>  }}
        {{! </div> 
      </div> }}

      <!-- Modal footer -->
      {{! <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div> }} 
</div>

<body>
    <!-- logo top -->
    {{> header}}


    <!-- Main part -->

    <main>
        <h2>{{titleName}}</h2>
        <div class="entitiy-page-wrapper">

            <div class="entity-page-image">
                <img src={{titleImage}} alt="">
            </div>

            <div class="entity-page-info">
                <div class="table">
                    <table>

                        <tr>
                            <td>Name:</td>
                            <td>{{titleName}}</td>
                        </tr>
                        <tr>
                            <td>Year of publishing:</td>
                            <td>{{yearOfPublishing}}</td>
                        </tr>
                        <tr>
                            <td>Rating:</td>
                            <td>{{rating}}/5</td>
                        </tr>
                    </table>
                </div>
                <div class="table">
                    <table>

                        <tr>
                            <td>Characters:</td>
                            <td><a href = "{{charsHref}}">Characters</a></td>
                        </tr>
                        <tr>
                            <td>Info:</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>Info:</td>
                            <td>---</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="entity-page-main">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos maiores iste, praesentium illum ad dolorum
                culpa nesciunt assumenda voluptatum magnam. Eius praesentium voluptates quas minima adipisci consequatur
                aperiam omnis quasi placeat libero, accusantium aut quaerat ab beatae cupiditate alias, dicta aspernatur
                at id. Mollitia omnis modi veniam aut inventore soluta at incidunt vitae excepturi iure accusantium
                consectetur cupiditate id repellat tempore ipsum eligendi vel, ipsam quam fuga facilis error reiciendis
                maiores. Pariatur hic voluptatum obcaecati quo similique, tempore, tempora magnam dignissimos quasi,
                blanditiis distinctio itaque aliquid eius atque velit natus minima? Excepturi aspernatur voluptatum iste
                ea, amet eaque expedita dicta a minima molestiae harum repudiandae quisquam officiis temporibus
                dignissimos voluptates consequatur omnis nobis praesentium mollitia aliquam laudantium et? Veniam
                cumque, repellendus rem iure ut officiis illum nihil. Incidunt odit dicta aperiam, quod velit ex
                explicabo asperiores est officia in alias accusantium aliquam minus maiores culpa voluptas aut nemo.
                Neque molestiae sint non doloribus officiis eveniet qui, dolorem consectetur nihil earum ipsa a sequi,
                velit adipisci consequuntur commodi, ex voluptas! Mollitia laborum aperiam commodi iste vel a labore
                possimus nihil et soluta cumque, necessitatibus autem pariatur tempora consequatur cum asperiores sequi
                nesciunt aut praesentium distinctio. Commodi sit, qui autem harum tempore voluptatem voluptatibus libero
                dolorem ullam laudantium assumenda eveniet error suscipit recusandae quas, modi explicabo repudiandae
                reiciendis expedita temporibus! Dolorem fugiat rem vero molestias dicta accusamus amet iusto nesciunt ab
                minima harum incidunt placeat illum tempore quasi, culpa quod porro maxime dolor, odio explicabo
                quisquam quidem sunt laborum. Repellat esse veniam ratione dignissimos accusantium distinctio eveniet
                nulla sint voluptas eius laboriosam tenetur eaque vero, cumque quas doloribus qui. Suscipit enim,
                consequatur maiores fugiat doloremque neque? Recusandae rem dolore ipsa neque nulla natus qui dolorem
                iste voluptates exercitationem cumque dolores iusto doloremque doloribus obcaecati, illo iure autem
                incidunt sit distinctio molestias similique temporibus aliquam voluptate? Sunt, quam. Quas quam natus
                consequatur harum ratione quaerat, ullam quos et earum alias soluta eum! Nemo magnam in quaerat ex
                repellendus harum illo sapiente delectus. Rem, dolore delectus omnis iusto quis dolor at numquam quidem,
                impedit illum distinctio qui consequatur aut nostrum facere deserunt labore doloribus nobis eius,
                temporibus quisquam inventore quo voluptas. Assumenda harum similique modi unde veniam quaerat ducimus
                aliquid eveniet accusantium consequuntur ullam illo mollitia, nesciunt pariatur nulla? Repellendus
                voluptas eveniet quo eligendi blanditiis. Et ipsam dicta quis excepturi consectetur inventore dolorem
                quisquam. Aliquid ipsum accusantium illum illo rem nemo atque, tempora perspiciatis?
            </div>
            
            {{!  }}
            {{! MODAL }}
            {{! <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> Actions</button> }}

            <div style = "width : 80%;">
<!--------------->
            <div><form action = "/admin/deleteTitle" method = "POST">
                <input type="submit" name="deleteChar" class="btn btn-danger" value="Delete Title">
            </form> </div>
            <button data-toggle="collapse" data-target="#adminCollapse" class = "btn-success">Admining</button>
            <div id="adminCollapse" class="collapse show">

                <div class="container" width="100%">
                    <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Alias</th>
                                <th>Title Example</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                        {{#characters}}
                            <tr>
                                <td><a href = "{{characHref}}">{{name}}</a></td>
                                <td>{{alias}}</td>
                                <td>{{title[0]}}</td>
                                <td>
                                {{#add}}
                                    <form action="/admin/title/addCharac/{{_id}}" method = "POST">
                                        <p style="display:none;">A </p>
                                        <input type="submit" class="btn btn-primary" value="Add char">

                                    </form>
                                {{/add}}
                                {{#delete}}
                                    <form action="/admin/title/deleteCharac/{{_id}}" method = "POST">
                                    <p style="display:none;">B </p>
                                        <input type="submit" class="btn btn-danger" value="Delete char">

                                    </form>
                                {{/delete}}    
                                </td>
                            </tr>
                        {{/characters}}    
                            
                        </tbody>
                    </table>
                </div>
            </div>
<!--------------->
            </div>
            


        </div>



    </main>

    <!-- footer -->

    {{> footer}}
</body>

</html>