<!doctype html>
<html lang="en">

{{> head}}

<body>
  <!-- logo top -->
  {{> header}}


  <main>
    <div class="table">
      <table>
        <tr class="table-head">
          <th>Login</th>
          <th>Fullname</th>
          <th>Registred</th>
        </tr>
        {{#users}}
          <tr>
          {{! "users/.html" }}
            <td><a href="/users/{{id}}">{{login}}</a></td>            <td>{{fullname}}</td>
            <td>{{registeredAt}}</td>
          </tr>
        {{/users}}
        

        {{! <tr>
          <td><a href="users/2.html">Lois</a></td>
          <td>Lois Griffin</td>
          <td>----</td>
        </tr> }}
      </table>
    </div>
  </main>

  <!-- footer -->

  {{> footer}}
</body>

</html>